# SPDX-FileCopyrightText: 2017 Mattia Verga <mattia.verga@tiscali.it>
#
# SPDX-License-Identifier: MIT

.directory
*.egg-info
*.pyc
*/__pycache__/
.pytest_cache/
build/
dist/
docs/_*/
venv/
Pipfile.lock
