# SPDX-FileCopyrightText: 2017 Mattia Verga <mattia.verga@tiscali.it>
#
# SPDX-License-Identifier: MIT

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=8.0"
mock = "*"
nose = "*"
coveralls = "*"
sphinx = "~=8.0"
sphinx-rtd-theme = "~=3.0"

[packages]
click = "~=8.0"
numpy = "~=2.0"
pandas = "~=2.0"

[requires]
python_version = "3.13"
